USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 11/20/2025 10:23:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Milton Cruz
-- Create date: 10/23/2025
-- Description:	Adds a product
-- exec AddProduct @CategoryId = 1, @ProductCode = 2, @ProductName = 'New Product', @Description = 'New Product Desp', @ListPrice = 10.00, @DiscountPercent = 12.00
-- =============================================
CREATE PROCEDURE [dbo].[AddProduct]
	@CategoryId INT,
	@ProductCode varchar(10),
	@ProductName varchar(255),
	@Description text,
	@ListPrice money,
	@DiscountPercent money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Products]
           ([CategoryID]
           ,[ProductCode]
           ,[ProductName]
           ,[Description]
           ,[ListPrice]
           ,[DiscountPercent]
           ,[DateAdded])
     VALUES
           (@CategoryId,
           @ProductCode,
           @ProductName,
           @Description,
           @ListPrice,
           @DiscountPercent,
		   CURRENT_TIMESTAMP)


 -- Return PK (ProductId)
    SELECT SCOPE_IDENTITY() as ProductID;
END
